<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="blog-detail">
      <div class="blog-detail-container">
        <h1>{{.Blog.Title}}</h1>
        <div class="author">12 Jul 2021 22:30 WIB | Ichsan Emrald Alamsyah</div>
        <img src="/public/images/blog-img-detail.png" alt="detail" />
        <p>{{.Blog.Content}}</p>
      </div>
    </div>
  </body>
</html>
